.events-detail-page {
  margin-top: 0.5rem;
  width: 90%;
}

.events-detail-image {
  border-radius: 1rem;
  height: 15rem;
  max-height: 20rem;
  max-width: 95%;
  margin: 0.5rem;
}

.center-block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.events-detail-title {
  color: var(--text-h);
  font-size: 1.8rem;
  margin: 0;
}

.events-detail-subtitle-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.events-detail-subtitle {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.9rem;
}

.events-detail-subtitle svg {
  aspect-ratio: 1/1;
  height: 1.8rem;
  width: 1.8rem;
  user-select: none;
}

.events-detail-subtitle h2 {
  margin: 0.7rem 0;
}

.events-detail-go-button {
  user-select: none;
  color: #FFFFFF;
  /* color: #16351d; */
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  background: #34C759;
  margin-top: 1rem;
  cursor: pointer;
  transition: transform 1s;
  -webkit-box-shadow: 0px 0px 0.5rem 0.15rem #34c75933;
  -moz-box-shadow: 0px 0px 0.5rem 0.15rem #34c75933;
  box-shadow: 0px 0px 0.5rem 0.15rem #34c75933;
}
.events-detail-go-button:active {
  transition: transform 0.1s;
  transform: scale(0.9);
}

.events-detail-go-button svg {
  aspect-ratio: 1/1;
  height: 1.8rem;
  width: 1.8rem;
  user-select: none;
}

.events-detail-go-button h2 {
  margin: 0.7rem 0;
}

.event-detail-iframe {
  width: 400px;
  max-width: 100%;
  border-radius: 0.5rem;
}
.event-detail-iframe.none {
  display: none;
}

.events-detail-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (min-width: 840px) {
  .events-detail-title {
    margin: 1rem 0;
  }
  .events-detail-subtitle-block {
    margin: 0;
  }
}

/* @media (prefers-color-scheme: dark) {
  .event-detail-iframe {
    margin-top: 2rem;
  }
} */