.sug-detail-page {
  margin-top: 0.5rem;
  width: 90%;
}

.sug-detail-image {
  border-radius: 1rem;
  height: 15rem;
  max-height: 20rem;
  max-width: 95%;
  margin: 0.5rem;
}

.center-block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sug-detail-title {
  color: var(--text-h);
  font-size: 1.8rem;
  margin-bottom: 0;
}

.sug-detail-go-button {
  user-select: none;
  color: #FFFFFF;
  /* color: #16351d; */
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  background: #34C759;
  margin-top: 1rem;
  cursor: pointer;
  transition: transform 1s;
  -webkit-box-shadow: 0px 0px 0.5rem 0.15rem #34c75933;
  -moz-box-shadow: 0px 0px 0.5rem 0.15rem #34c75933;
  box-shadow: 0px 0px 0.5rem 0.15rem #34c75933;
}
.sug-detail-go-button:active {
  transition: transform 0.1s;
  transform: scale(0.9);
}

.sug-detail-go-button svg {
  aspect-ratio: 1/1;
  height: 1.8rem;
  width: 1.8rem;
  user-select: none;
}

.sug-detail-go-button h2 {
  margin: 0.7rem 0;
}

.sug-detail-iframe {
  width: 500px;
  max-width: 100%;
  border-radius: 0.5rem;
}
.sug-detail-iframe.none {
  display: none;
}


/* @media (prefers-color-scheme: dark) {
  .sug-iframe {
    margin: 3rem 0;
  }
} */