.events-page {
  width: 100%;
}

.events-page__events-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 100%;
}

.events-page__events-title {
  user-select: none;
  margin: 1rem 0 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}
.events-page__events-title svg {
  text-align: center;
  color: var(--text);
  font-size: 2rem;
}
.events-page__events-title h2 {
  margin: 0;
  text-align: center;
  color: var(--text);
  font-size: 1.9rem;
}
